- cache do
  %nav#top.page-controls.pull-right
    %ul
      %li= link_to icon('arrow-circle-o-left'), (@search || :back)
      %li= link_to icon('camera'), '#photo', data: {'scroll-to' => true}
      %li= link_to icon('flag-o'), '#notes', data: {'scroll-to' => true}
      %li= link_to icon('compass'), '#nearby', data: {'scroll-to' => true}
      %li= link_to icon('file-text-o'), '#advert', data: {'scroll-to' => true}
      %li= link_to icon(:info), @listing.listing_url, target: :blank

  %h1{ data: {map: @map[:id], lat: @listing.latitude, lon: @listing.longitude, jump: 'top' } }
    = title_for(@listing)
