- content_for(:title) do
  #{ title_for(@listing) } at my next flat

- content_for(:meta) do
  %meta{content: "summary", name: "twitter:card"}/
  %meta{content: "@mynextflatbot", name: "twitter:site"}/
  %meta{content: twitter_title_for(@listing), name: "twitter:title"}/
  %meta{content: twitter_description_for(@listing), name: "twitter:description"}/
  %meta{content: twitter_creator_for(@listing), name: "twitter:creator"}/
  %meta{content: twitter_image_for(@listing), name: "twitter:image:src"}/
  %meta{content: "mynextflat.co.uk", name: "twitter:domain"}/  

#link-group
  .links
    = link_to @search || :back do
      = icon('arrow-circle-o-left')
      %br/
      Back
    = link_to '#photo' do
      = icon('camera')
      %br/
      Photo
    = link_to '#notes' do
      = icon('flag-o')
      %br/
      Notes
    = link_to '#nearby' do
      = icon('compass')
      %br/
      Nearby
    = link_to '#advert' do
      = icon('file-text-o')
      %br/
      Advert
    = link_to @listing.listing_url, target: :blank do
      = icon('info-circle')
      %br/
      More


%h2.listing#photo
  = title_for(@listing)

.row{ style: 'margin-top: 25px;' }
  .col-md-7
    = link_to @listing.listing_url, class: 'thumbnail', target: :blank do
      = image_tag @listing.image_url, src: @listing.caption
  .col-md-5
    .panel.panel-default
      .panel-heading= @listing.agent_name
      .panel-body
        = link_to @listing.listing_url, target: :blank do
          = image_tag @listing.agent_logo_url, src: @listing.agent_name, class: 'center-block'


%h3#notes
  notes
  = link_to icon('arrow-circle-o-up'), '#top', class: 'pull-right'
%p.label-cloud
  = render partial: 'listing_labels', object: @listing
  = label2("first listed #{ @listing.created_at.to_formatted_s(:short_date) }", :default)
  - if @listing.created_at.to_date != @listing.updated_at.to_date
    = label2("last updated #{ @listing.updated_at.to_formatted_s(:short_date) }", :default)

%p= @listing.summary
  

%h3#nearby
  nearby
  = link_to icon('arrow-circle-o-up'), '#top', class: 'pull-right'
%table.table
  - @nearby.group_by(&:kind).each do |kind, pois|
    %tr
      %th{style: 'width: 15%' }= kind.to_s.humanize.downcase
      %td
        %ul.list-inline
          - pois.each do |poi|
            %li[poi]{ data: { marker: 'disabled:'+@map[:id], latitude: poi.latitude, longitude: poi.longitude } } #{ poi.name } (#{ poi.distance.round(1) })

%h3#advert
  description
  = link_to icon('arrow-circle-o-up'), '#top', class: 'pull-right'
%p.text-muted= @listing.address
%p!= format_zoopla_description @listing.description


- if Rails.env.development?
  %h3#raw
    raw
    = link_to icon('arrow-circle-o-up'), '#top', class: 'pull-right'
  - @listing.each do |k,v|
    %pre #{k}: #{v}


%p= link_to 'More Information', @listing.listing_url, class: 'btn btn-success btn-block', target: :blank
