- if current_or_guest_user.searches.none?
  %p Intelligent search options to make finding your next flat easier and faster. Use our lovingly handcrafted search options to spot your next flat before someone else does. And best of all we'll keep you informed just as soon as we see something you might like.
  
  %p Here are a few ideas to get you started...

  %table.table
    %tbody= render partial: 'homes/search', collection: Example.examples.random(5).sort_by(&:name)

- else
  %p.text-center
    - if guest_user?
      Welcome back! Why not
      = link_to 'sign up', new_user_registration_path
      or
      = link_to 'sign in', new_user_session_path
      to save your searches?

  %table.table
    %tbody= render partial: 'homes/search', collection: @searches.sort_by(&:name)

%p{ style: 'margin-top: 25px' }
  = link_to new_search_path, class: 'btn btn-lg btn-success btn-block' do
    = icon('search-plus')
    Start Searching!

  = link_to examples_path, class: 'btn btn-default btn-md btn-block' do
    = icon('search')
    Explore Places!

- if guest_user?
  .text-center
    %ul.nav.nav-pills{ style: 'margin-top: 25px; display: inline-block;' }
      %li
        = link_to new_user_registration_path do
          = icon('plus')
          Sign up
      %li
        = link_to new_user_session_path do
          = icon('sign-in')
          Sign in
      %li
        = link_to user_omniauth_authorize_path(:twitter) do
          = icon('twitter')
          Sign in with Twitter
