%li.list-group-item
  = f.hidden_field :_destroy, class: 'destroy'
  = link_to '#', onclick: "javascript:delete_section(this); return false;", class: 'pull-right', style: 'font-size: 150%' do
    &times;

  I want to
  
  / Buy or let
  - if f.object.new_record?
    = f.label :type, class: 'sr-only'
    = f.select :type, options_for_criteria_types, {}, class: 'form-control'
  - else
    %code= criteria_kind_for(f.object)

  something
  %br.visible-xs-block/

  between
  
  / Price
  &pound;
  = f.label :min_price, class: 'sr-only'
  = f.text_field :min_price, class: 'form-control input-lg', size: 10, placeholder: '0'
  and  
  &pound;
  = f.label :max_price, class: 'sr-only'
  = f.text_field :max_price, class: 'form-control input-lg', size: 10, placeholder: '1,000,000'
  
  %span.per_week (if letting: per week)
  %br/
  
  / Beds
  with 
  = f.label :min_beds, class: 'sr-only'
  = f.number_field :min_beds, class: 'form-control input-lg', size: 3, step: 1, in: 0..10, placeholder: 0
  to
  = f.label :max_beds, class: 'sr-only'
  = f.number_field :max_beds, class: 'form-control input-lg', size: 3, step: 1, in: 0..10, placeholder: 'any'
  bedrooms
  %br.visible-xs-block/
  
  / Baths
  and
  = f.label :min_baths, class: 'sr-only'
  = f.number_field :min_baths, class: 'form-control input-lg', size: 3, step: 1, in: 0..10, placeholder: 0
  to
  = f.label :max_baths, class: 'sr-only'
  = f.number_field :max_baths, class: 'form-control input-lg', size: 3, step: 1, in: 0..10, placeholder: 'any'
  bathrooms
