= form_for(@search, html: { class: 'form-inline madlib' }) do |f|

  - if @search.errors.any?
    .panel.panel-danger
      .panel-heading
        %h2.panel-title Oops!
      .panel-body
        = pluralize(@search.errors.count, "error")
        prohibited this search from being saved
      %ul.list-group
        - @search.errors.full_messages.each do |msg|
          %li.list-group-item= msg

  %p{ style: 'font-size: 133%'}
    Save my search as
    = f.label :name, class: 'sr-only'
    = f.text_field :name, class: 'form-control input-lg', placeholder: 'search name'
    = field_error_icon @search.errors[:name]
    so I can find it later.

  %p{ style: 'font-size: 133%' }
    = f.label :alert_method, class: 'sr-only'
    = f.select :alert_method, options_for_alert_method, {}, class: 'form-control input-lg'
    = field_error_icon @search.errors[:alert_method]
    me the
    = f.label :top_n, class: 'sr-only'
    = f.number_field :top_n, class: 'form-control input-lg', size: 2, step: 1, in: 1..10
    = field_error_icon @search.errors[:top_n]
    newest listings every
    = f.label :day_of_week, class: 'sr-only'
    = f.select :day_of_week, options_for_day_of_week, {}, class: 'form-control input-lg'
    = field_error_icon @search.errors[:day_of_week]
    at
    = f.label :hour_of_day, class: 'sr-only'
    = f.select :hour_of_day, options_for_hour_of_day, {}, class: 'form-control input-lg'
    = field_error_icon @search.errors[:hour_of_day]
    \.

  / Locations
  .search-panel
    .panel-heading
      %h2.panel-title
        %i.fa.fa-map-marker
        Places
    %ul.list-group
      = f.fields_for :locations do |builder|
        - render 'location_fields', :f => builder
    .panel-footer.text-center
      = link_to_add_fields(f, :locations) do
        %i.fa.fa-plus
        Add

  / Criteria
  .search-panel
    .panel-heading
      %h2.panel-title
        %i.fa.fa-check
        Things
    %ul.list-group
      = f.fields_for :criterias do |builder|
        - render 'criteria_fields', :f => builder
    .panel-footer.text-center
      = link_to_add_fields(f, :criterias) do
        %i.fa.fa-plus
        Add

  = f.submit "Search", class: 'btn btn-success btn-block center-block', style: 'width: 66%;'
