-# Let...
%p
  I want to 
  %code= criteria_kind_for(f.object)
  \...

-# Criteria
%table.criteria
  %tbody
    - %w( price beds baths ).each do |key|
      %tr
        %td
          %strong= key.humanize
        %td
          = f.label "min_#{key}".to_sym, class: 'sr-only'
          = f.number_field "min_#{key}".to_sym, class: 'form-control', step: 1, min: 0, placeholder: 0
        %td
          to
        %td
          = f.label "max_#{key}".to_sym, class: 'sr-only'
          = f.number_field "max_#{key}".to_sym, class: 'form-control', step: 1, min: 0, placeholder: 'any'
