- cache listing do
  .listing{ id: "listing-#{ listing.id }", data: {map: @map[:id], lat: listing.latitude, lon: listing.longitude, jump: "listing-#{ listing.id }"} }
    .col-xs-12
      %h2{style: 'margin-top: 0px'}= link_to title_for(listing), search_listing_path(@search, listing.id)

    / Image
    .image-panel
      = link_to search_listing_path(@search, listing.id), class: 'thumbnail' do
        = image_tag listing.image_url, src: title_for(listing)

    / Description
    .description-panel
      %p= render partial: 'listing_labels', object: listing
      %p= format_zoopla_description listing.summary
      .small Updated #{ listing.updated_at.to_formatted_s(:short_date) }
