= render partial: 'searches/destroy_modal', locals: {search: @search}

#link-group
  .links
    = link_to home_path do
      = icon('arrow-circle-o-left')
      %br/
      Back
    = link_to edit_search_path(@search) do
      %i.fa.fa-pencil
      %br/
      Edit
    = link_to '#', 'data-toggle'=>"modal", 'data-target'=>"#delete_#{@search.id}" do
      =icon('trash-o')
      %br/
      Delete


%h2.listing
  = @search.name

= render partial: 'listing', collection: @listings, spacer_template: 'listing_separator'
