.panel.panel-info
  .panel-heading
    %h2.panel-title= @search.name
  %table.table.table-hover
    = render partial: 'result', collection: @results
  .panel-footer
    %i.fa.fa-search
    #{ pluralize @results.count, 'result' }
    .pull-right
      = link_to edit_search_path(@search) do
        %i.fa.fa-pencil
        Edit
      = link_to search_path(@search), method: :delete do
        %i.fa.fa-trash-o
        Delete

.row
  / Locations
  .col-md-6
    .panel.panel-info
      .panel-heading
        %h2.panel-title
          %i.fa.fa-map-marker
          Locations
      %ul.list-group= render partial: 'location', collection: @search.locations
      .panel-footer
        = @search.locations.count
        locations

  / Criteria
  .col-md-6
    .panel.panel-info
      .panel-heading
        %h2.panel-title
          %i.fa.fa-check
          Criteria
      %ul.list-group= render partial: 'criteria', collection: @search.criterias
      .panel-footer
        = @search.criterias.count
        criteria
