= render partial: 'searches/destroy_modal', locals: {search: @search}

.container
  - cache @search do
    %nav.page-controls.pull-right
      %ul
        %li= link_to icon(:back), home_path
        %li= link_to icon(:edit), edit_search_path(@search)
        %li= link_to icon(:delete), '#', 'data-toggle'=>"modal", 'data-target'=>"#delete_#{@search.id}"

    %h1= @search.name
  
  - if @search.message.present?
    - cache @search.message do
      .alert.alert-danger
        %p <strong>Oops!</strong> We encountered a problem with this search.
        %p= @search.message
  
  = render(partial: 'listings', object: @listings)
