/ User controls
#user_controls.dropdown.pull-right
  %a#user_icon{ href: edit_user_path(current_or_guest_user), data: {toggle: 'dropdown', target: '#'} }
    - if signed_in?
      = image_tag(current_or_guest_user.photo_url)
    - else
      = icon('user', 'fa-lg')

  %ul.dropdown-menu{ role: 'menu' }
    - if signed_in?
      %li
        = link_to edit_user_path(current_or_guest_user) do
          Hi, #{ current_or_guest_user.name }!
    %li
      = link_to home_path do
        = icon('search')
        Saved Searches

    %li
      = link_to new_search_path do
        = icon('search-plus')
        New Search

    %li.divider

    - unless signed_in?
      %li
        = link_to user_omniauth_authorize_path(:twitter) do
          = icon('twitter')
          Sign in with Twitter

    - if signed_in?
      %li
        = link_to destroy_user_session_path, method: :delete do
          = icon('sign-out')
          Sign out
